version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: appdb
    ports:
      - "27017:27017"   # เปิดเฉพาะถ้าต้องการเข้าจาก host

  backend:
    build: ./room-booking-backend
    container_name: room-booking-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/appdb
      # - NODE_ENV=production
    depends_on:
      - mongo
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  mongo_data:
